{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}

{% block extra_head %}
<meta data-rh="true" property="og:type" content="article">
<meta data-rh="true" property="og:title" content="{{page.title}}">
<meta data-rh="true" property="og:url" content="{{page.permalink}}">
<meta data-rh="true" property="og:image" content="{{config.base_url}}/intel.jpg">
<meta data-rh="true" property="og:description" content="{{page.summary | striptags}}">
{% endblock extra_head %}
{% endblock header %}
<!-- END NAV -->
<main>
    <section class="container">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {{ post_macros::article_header(page = page) }}
                            <div itemprop="articleBody" class="content article-body">
                                {{ page.content | safe }}
                            </div>
                        </div>
                        {% block page_footer %}
                        {{ post_macros::post_footer(page=page) }}
                        {% endblock page_footer %}
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
